################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMS/MedioClinic/media/MedioClinicAssets/Medical Centers Photos/__thumbnails
